.campaign-segment {
  display: grid;
  grid-template-columns: 380px auto;
  gap: 20px;
  align-items: flex-start;
  margin-top: 20px!important;
}
.campaign-segment-left-head {
  padding: 16px;
  border-bottom: 1px solid #d2d6de;
}
.campaign-segment-left {
  border: 1px solid #d2d6de;
  border-radius: 16px;
  background: white;
}
.campaign-new-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  min-width: 72px;
  text-align: center;
}
.campaign-item-date {
  text-align: right;
  font-size: 12px;
  text-wrap: nowrap;
  font-weight: 500;
  opacity: 0.7;
}
.campaign-item-ttl {
  font-weight: 600;
  font-family: "Open Sans" !important;
  margin: 0 !important;
  font-size: 13px;
}
.campaign-item-msg {
  font-size: 12px;
  opacity: 0.8;
  font-weight: 500;
  overflow: hidden;
  display: -webkit-box; 
  -webkit-line-clamp: 2; 
  line-clamp: 2; 
  -webkit-box-orient: vertical; /
}
.campaign-segment-item {
  padding: 16px;
  border-bottom: 1px solid #f3f3f3;
  transition: background 300ms ease-in-out;
}
.campaign-segment-item:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.03);
}
.campaign-segment-item-head {
  gap: 8px;
  margin-bottom: 8px;
}
.campaign-segment-item.active {
  border-left: 4px solid #f19d14;
}
.campaign-segment-list {
  max-height: calc(100vh - 200px);
  overflow-y: scroll;
}
.campaign-segment-tab {
  background: #eeeeee;
  border-radius: 8px;
  padding: 7px 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 24px;
}
.campaign-segment-tab .nav-item{
  flex: 1;
  text-align: center;
}
.campaign-segment-tab .nav-item .nav-link {
  color: #333;
  /* background: #fff; */
  padding: 10px 20px;
  font-weight: 500;
  font-size: 15px;
  border: 0;
  border-radius: 4px;
  opacity: 0.6;
}
.campaign-segment-tab .nav-item.active .nav-link {
  /* background: #f99000; */
  background: #fff;
  color: #333;
  border: 0;
  opacity: 1;
}

/* tabs */
.msg-report-ttl {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 4px;
}
.msg-report-status {
  display: inline-flex;
  padding: 4px 12px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 13px;
}
.msg-report-status.status-success{
  background: rgba(16, 140, 127, 0.2);
  color: #108c7f;
}
.msg-report-status.status-warning{
  background: rgba(255, 145, 1, 0.2);
  color: #ff9101;
}
.msg-report-status.status-info{
  background: rgba(51, 114, 172, 0.2);
  color: #3372ac;
}
.msg-report-status.status-danger{
  background: rgba(237, 47, 47, 0.2);
  color: #ed2f2f;
}
.msg-report-details-head {
  gap: 12px;
}
.msg-report-details-head:has(+ .msg-report-details-lead){
  margin-bottom: 4px;
}
.msg-report-details-ttl {
  font-weight: 600;
  font-size: 16px;
}
#pills-tab-campaignMsgType{
  max-width: 360px;
}
.msg-report-details-block {
  padding: 24px;
  border-radius: 12px;
  border: 1px solid #e5e5e5;
  background: #fff;
}
.details-list-group {
  display: grid;
  align-items: flex-start;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.details-list-item {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}
.details-list-item-icon {
  min-width: 36px;
  width: 36px;
  height: 36px;
  border-radius: 4px;
  background: rgba(249, 144, 0, 0.2);
  color: #f99000;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.details-list-item-label {
  opacity: 0.7;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 4px !important;
}
.details-list-item-val {
  font-weight: 600;
  font-size: 14px;
}
.msg-report-details-head {
  margin-bottom: 16px;
}
.msg-report-details-icon {
  font-size: 18px;
}
.campaign-segment-right {
  padding: 20px;
  background: #fff;
  border-radius: 24px;
}
.details-card-item {
  padding: 16px 16px;
  border-radius: 8px;
}
.details-card-item.success {
  background: rgba(16, 140, 127, 0.2);
}
.details-card-item.error {
  background: rgba(254, 226, 226, 0.2);
}
.details-card-item.pending{
  background: rgba(255, 145, 1, 0.2);
}
.details-card-item.total{
  background: rgba(51, 114, 172, 0.2);
}
.details-card-group {
  display: grid;
  align-items: flex-start;
  gap: 8px;
}
.details-card-item-label {
  font-weight: 500;
}
.details-card-item-val,
.details-list-item-val.lg-value {
  font-size: 20px;
  font-weight: 600;
}
.est-credit-block .msg-report-details-body {
  background: #f6f6f6;
  padding: 16px;
  border-radius: 8px;
}
.msg-report-wrapper {
  display: grid;
  align-items: flex-start;
  gap: 20px;
}
.msg-report-intro{
  justify-content: space-between;
  align-items: flex-start;
}
.details-list-item-longtext {
  margin-top: 8px;
  font-size: 14px;
}
.msg-report-intro-right{
  display: flex;
  align-items: center;
  gap: 8px;
}
.msg-report-intro-right .btn-icon{
  background: transparent;
  font-size: 24px;
}
.btn-deep-saffron {
  background: #f99000;
  color: #fff;
  outline: 0;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  padding: 10px 20px;
}
.btn-deep-saffron:hover,
.btn-deep-saffron:focus {
  color: #fff;
}
.btn-deep-saffron.btn-link {
  background: transparent;
  color: #f99000;
}
.campaign-datatable-head-right {
  gap: 8px;
}
.campaign-datatable-head-right .input-group input {
  width: 112px;
}
.campaign-datatable-head-left {
  width: 100%;
  max-width: 400px;
}

/* status */
.status-badge {
  padding: 4px 12px;
  border-radius: 4px;
  font-weight: 500;
}
.status-badge.status-delivered {
  background: rgba(16, 140, 127, 0.2);
  color: #108c7f;
}
.btn:active:focus,
.btn:focus {
  outline: 0 !important;
}

.campaign-segment-initial {
  padding: 40px;
}
.campaign-segment-initial-ttl {
  font-family: "Open Sans" !important;
  font-weight: 600;
}
.campaign-segment-initial-msg {
  font-family: "Open Sans" !important;
  opacity: 0.6;
  font-weight: 500;
}
.campaign-segment-msg-details {
  display: none;
}
.campaign-segment-initial-content {
  margin-bottom: 8px;
  max-width: 540px;
  margin-left: auto;
  margin-right: auto;
}
.filter-dropdown .dropdown-toggle{
  background: none;
  padding: 0;
  border: none;
}
.filter-dropdown .dropdown-btn-text{
  font-weight: 500;
}
.filter-dropdown .dropdown-toggle:focus,
.filter-dropdown .dropdown-toggle:active{
  background: none!important;
}
.filter-dropdown .dropdown-header{
  padding: 0;
  margin-bottom: 8px;
}
.filter-dropdown .dropdown-menu{
  padding: 12px;
  min-width: 240px;
  border-radius: 12px;
}
.filter-dropdown .dropdown-header-ttl{
  font-weight: 600;
  font-size: 14px;
  color: #333;
}
.filter-dropdown .dropdown-menu .dropdown-body{
  border: 1px solid #ebebeb;
  border-radius: 8px;
}
.filter-dropdown .collapsible-btn{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 8px;
  background: rgba(0, 0, 0, 0.05);
  color: #333;
  font-weight: 600;
  font-size: 12px;
  border: 0;
}
.filter-dropdown .collapsible-content{
  padding: 8px;
}
.filter-dropdown .form-check-label{
  font-weight: 500;
  font-size: 12px;
  margin: 0;
  opacity: 0.7;
}
.filter-dropdown .form-check-input{
  margin: 0;
}
.filter-dropdown .form-check-input:checked + .form-check-label{
  opacity: 1;
}
.filter-dropdown .form-check{
  display: flex;
  align-items: center;
  gap: 4px;
}
.filter-dropdown .form-check-item{
  margin-bottom: 4px;
}
.campaign-segment-toolbar{
  padding: 16px;
}
.campaign-segment-toolbar .btn-icon{
  border: 0;
  outline: 0;
  background: none;
}
/* create campaign */
.msg-preview-screen {
  width: 260px;
  height: 508px;
  border-radius: 24px;
  /* background: #f3f4f6; */
  box-shadow: 0 10px 15px -3px rgb(0 0 0/0.08), 0 4px 6px -4px rgb(0 0 0/0.08);
  /* border: 1px solid #d7d7d7; */
  overflow: hidden;
  background: #fff;
  display: flex;
  flex-direction: column;
}
.appbar-sender-icon{
  width: 40px;
  z-index: 2;
  margin-bottom: -3px;
}
.msg-preview-screen-head {
  height: 48px;
  /* background: #e5e7eb; */
  background: #F9f9f9;
  position: relative;
  padding: 4px 16px;
  border-bottom: 1px solid #ebebeb;
}
.msg-preview-screen-head::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 68px;
  height: 20px;
  background: #333;
  border-radius: 100vh;
}
.msg-preview-screen-body {
  padding: 12px 16px 16px 16px;
  flex: 1;
}
.msg-repview-screen-appbar {
  gap: 12px;
  margin-bottom: 24px;
  position: relative;
  justify-content: center;
}
.msg-preview-screen-head-time{
  font-weight: 600;
}
.msg-preview-screen-head-status{
  max-width: 56px;
}
.appbar-back-btn {
  width: 28px;
  height: 28px;
  min-width: 28px;
  background: #fff;
  border-radius: 100%;
  justify-content: center;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  position: absolute;
  top: 0;
  left: 0;
}
.appbar-back-btn img{
  width: 12px;
}
.appbar-sender-name {
  width: 100%;
  font-weight: 600;
  background: #fff;
  border-radius: 100vh;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 6px 24px, rgba(17, 17, 26, 0.1) 0px 14px 56px, rgba(17, 17, 26, 0.1) 0px 20px 80px;
  padding: 4px 16px;
  font-size: 12px;
  min-width: 28px;
}
.msg-preview-screen-content-wrapper{
  position: relative;
}
.msg-preview-screen-content {
  background: #E9E9EA;
  padding: 10px;
  border-radius: 14px;
  font-size: 13px;
  font-weight: 500;
  word-wrap: break-word;
  position: relative;
  z-index: 2;
  line-height: 1.3;
}
.msg-preview-screen-tail{
  position: absolute;
  top: calc(100% - 16px);
  left: 8px;
}
.msg-review-scree-foot{
  margin-top: auto;
  height: 24px;
  position: relative;
}
.msg-review-scree-foot::after{
  content: "";
  position: absolute;
  height: 6px;
  width: 100px;
  background: #000;
  border-radius: 100vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.campaign-create-block {
  box-shadow: 0 0 #0000, 0 0 #0000, 0px 4px 28px 0px #00000005;
  background: #fff;
  padding: 24px;
  border-radius: 20px;
}
.campaign-create-block-ttl {
  margin-top: 0 !important;
  margin-bottom: 24px;
  font-size: 18px;
  font-weight: 600;
  font-family: "Open Sans" !important;
}
.campaign-create-block-group {
  display: grid;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 24px;
}
.message-toolbar {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}
.message-toolbar .btn-icon {
  padding: 0 !important;
  width: 32px;
  height: 32px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background: transparent;
}
.message-toolbar .btn-icon img {
  width: 16px;
  min-width: 16px;
}
#pills-tab-campaignMsgTypeContent .form-control {
  border-radius: 4px;
}
.message-elems-group {
  border: 1px solid #e9e9e9;
  border-radius: 12px;
  padding: 20px 20px 12px 20px;
  margin-bottom: 12px;
}
.message-metadata {
  margin-top: 8px;
  font-weight: 700;
  opacity: 0.6;
}
.campaign-create-block .d-none {
  display: none;
}
.msg-report-details-body{
  flex-wrap: wrap;
  gap: 12px;
}
.msg-report-details-text{
  font-size: 14px;
  font-weight: 500;
  opacity: 0.7;
}

/* boostrap tags input */
.bootstrap-tagsinput{
  min-height: 58px!important;
  box-shadow: none!important;
}
.bootstrap-tagsinput input {
  width: 100% !important;
}
.bootstrap-tagsinput .tag {
  border-radius: 6px !important;
  background: #e4e4e4 !important;
  color: #333 !important;
  font-size: 13px !important;
}
.bootstrap-tagsinput .tag [data-role="remove"] {
  opacity: 0.4;
}
.bootstrap-tagsinput input{
  padding: 6px 12px!important;
}
.bootstrap-tagsinput input:focus{
  background: rgba(0, 0, 0, 0.02)!important;
  border-radius: 4px;
}
.recipient-count {
  font-weight: 500;
  font-size: 12px;
  margin-top: 12px;
  opacity: 0.7;
}
.icon-20 {
  width: 20px;
  min-width: 20px;
}
.icon-36 {
  width: 36px;
  min-width: 36px;
}
.campaign-create-block .dropdown-btn-text {
  font-weight: 500;
  margin-right: 8px;
}
.campaign-create-block .dropdown-toggle {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background: none;
  padding: 8px 10px;
}
.contact-type-group {
  gap: 8px;
  margin-top: 12px;
}
.contact-upload-icon {
  width: 52px;
  height: 52px;
  border-radius: 100%;
  background: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.contact-upload-icon *[class*="icon-"] {
  opacity: 0.6;
}
.contact-upload-info-label {
  font-weight: 500;
  font-size: 15px;
  text-decoration: underline;
  cursor: pointer;
}
.contact-upload-info-desc {
  font-size: 12px;
  font-weight: 500;
  opacity: 0.7;
  margin-top: 4px;
}
.contact-upload-block-left {
  gap: 12px;
}
.contact-upload-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  background: rgba(0, 0, 0, 0.05);
  gap: 16px;
  border-radius: 8px;
}
.campaign-create-segment {
  display: grid;
  align-items: flex-start;
  gap: 24px;
  grid-template-columns: auto minmax(300px, auto);
  margin-top: 20px!important;
}
.campaign-create-segment-right{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.msg-preview-screen-ttl{
  font-family: 'Open Sans'!important;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
}
#pills-tab-campaignCreate{
  margin-bottom: 0;
}
.mrkt-report-wrapper .asms-ar-title{
  font-family: 'Open Sans'!important;
}
.asms-ar-metrics-item-wrapper{
  height: 100%;
}
.asms-ar-metrics-item{
  background: #F5F5F5;
  padding: 12px;
  border-radius: 8px;
  height: 100%;
}
.asms-ar-metrics-item-title{
  font-weight: 500;
  color: #757575;
}
.asms-ar-metrics-item-value{
  font-size: 16px;
  font-weight: 600;
}
.text-dark-cyan{
  color: #108c7f;
}
.asms-ar-metrics{
  display: grid;
  align-items: flex-start;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.asms-ar-msg-overview,
.asms-ar-user-summary{
  border: 1px solid #d2d6de;
  border-radius: 12px;
  padding: 20px;
}
.msg-template-list{
  display: grid;
  gap: 12px;
  max-height: 480px;
  overflow-y: scroll;
}
.msg-template-item{
  border: 1px solid #eaeaea;
  border-radius: 8px;
  padding: 12px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}
.msg-template-item:hover{
  background: rgba(0, 0, 0, 0.03);
}
.msg-template-title{
  margin-top: 0!important;
  font-family: 'Open Sans'!important;
  font-weight: 600;
  margin-bottom: 6px;
}
.msg-template-desc{
  font-size: 13px;
  opacity: 0.8;
  font-weight: 500;
}
.user-summary-list{
  display: grid;
  align-items: flex-start;
  gap: 24px;
}
.user-summary-item-icon{
  min-width: 28px;
  width: 28px;
}
.user-summary-item-info{
  display: flex;
  align-items: center;
  gap: 12px;
}
.user-summary-item-value{
  font-weight: 600;
}
.user-summary-item-count{
  font-weight: 500;
  opacity: 0.7;
}
.asms-ar-tbl{
  margin-top: 24px;
}
.asms-ar-tbl-search{
  border: 1px solid #d2d6de;
  padding: 0 12px;
}
.asms-ar-tbl-search-input{
  border: none;
}
.asms-ar-tbl table{
  margin-top: 16px;
}
#insertUrlModal .modal-title, 
#insertTemplateModal .modal-title,
.jb-emoji-title{
  font-size: 14px;
  font-family: 'Open Sans'!important;
  font-weight: 600;
  color: #333;
}

/* emojis */
.emoji-parent-wrapper{
  position: relative;
}
.jb-emoji-container{
  position: absolute;
  background: #fff;
  border-radius: 12px;
  border: 1px solid #eaeaea;
  padding: 12px;
  z-index: 20;
  display: none;
  box-shadow: 0 10px 15px -3px rgb(0 0 0/0.1),0 4px 6px -4px rgb(0 0 0/0.1);
}
.jb-emoji-close{
  font-size: 24px;
  opacity: 0.7;
  cursor: pointer;
}
.jb-emoji{
  box-shadow: none!important;
  border: none!important;
  border-radius: 0!important;
  padding: 0 12px 0 0!important;
}
.jb-emoji-search{
  border: 1px solid #d2d6de;
  height: 34px;
  padding: 0 12px;
}
.campaign-create-schedule-block{
  display: flex;
  align-items: center;
  gap: 12px;
}
.campaign-create-schedule-block .campaign-segment-tab .nav-item .nav-link{
  padding: 2px 8px;
}
.campaign-create-schedule-block .campaign-segment-tab{
  margin-bottom: 0;
  display: block;
  padding: 6px;
}
.campaign-create-schedule-block .input-group{
  flex: 1;
}

#campaignPreviewModal .modal-dialog{
  max-width: 1000px!important;
  width: 100%!important;
}
#campaignPreviewModal .msg-report-details-block{
  padding: 20px;
}
.msg-report-details-block-group{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  align-items: flex-start;
}
#campaignPreviewModal .double-sided-buttons{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media(max-width: 1599.98px){
  .campaign-segment{
    gap: 16px;
    grid-template-columns: 320px auto;
  }
}

@media(max-width: 1399.98px){
  .campaign-segment-tab .nav-item .nav-link{
    padding: 8px 12px;
    font-size: 14px;
  }
  .campaign-segment{
    gap: 16px;
    grid-template-columns: 300px auto;
  }
  .msg-report-wrapper{
    gap: 12px;
  }
}

@media(max-width: 1199.98px){
  .campaign-segment-right{
    padding: 16px;
  }
  .campaign-create-segment {
    grid-template-columns: 100%;
  }
}

@media(max-width: 991.98px){
  .campaign-segment{
    grid-template-columns: 100%;
  }
  .campaign-segment-list{
    max-height: 400px!important;
  }
}

@media(max-width: 767.98px){
  .msg-report-details-block-group{
    grid-template-columns: 100%;
  }
}

@media(max-width: 575.98px){
  .campaign-segment-right{
    border-radius: 16px;
  }
  .campaign-create-block{
    padding: 18px;
    border-radius: 16px;
  }
  .campaign-create-block-ttl{
    font-size: 16px;
    margin-bottom: 20px;
  }
  .campaign-segment-tab{
    margin-bottom: 20px;
  }
  .message-elems-group{
    padding: 12px;
  }
  .campaign-create-block-group{
    gap: 16px;
  }
  .campaign-segment-left-head {
    padding: 12px;
  }
  .campaign-segment-item{
    padding: 12px 12px 8px 12px;
  }
  .campaign-segment-item-head{
    margin-bottom: 6px;
  }
  .campaign-segment-tab{
    gap: 4px;
    background: none;
    padding: 0;
  }
  .msg-report-details-block{
    padding: 12px;
  }
  .msg-report-details-head{
    margin-bottom: 12px;
  }
  .details-card-item{
    padding: 8px 16px;
  }
  .msg-report-details-ttl{
    font-size: 14px;
  }
  .details-list-item-longtext{
    font-size: 13px;
  }
  .details-list-item-icon{
    min-width: 28px;
    height: 28px;
    width: 28px;
  }
  .details-list-item-val{
    font-size: 12px;
  }
  .details-list-item{
    gap: 8px;
  }
  .details-list-group{
    gap: 16px;
  }
  .details-list-item-label{
    margin-bottom: 0!important;
  }
  .est-credit-block .msg-report-details-body{
    padding: 12px;
  }
  .msg-report-details-icon{
    font-size: 16px;
  }
}