.campaign-segment {
  display: grid;
  grid-template-columns: 320px auto;
  gap: 20px;
}
.campaign-segment-left-head {
  padding: 16px;
  border-bottom: 1px solid #d2d6de;
}
.campaign-segment-left {
  border: 1px solid #d2d6de;
  border-radius: 16px;
  background: white;
}
.campaign-new-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  min-width: 72px;
  text-align: center;
}
.campaign-item-date {
  text-align: right;
  font-size: 12px;
  text-wrap: nowrap;
  font-weight: 500;
  opacity: 0.7;
}
.campaign-item-ttl {
  font-weight: 700;
  font-family: "Open Sans" !important;
  margin: 0!important;
}
.campaign-item-msg {
  font-size: 12px;
  opacity: 0.8;
  font-weight: 500;
}
.campaign-segment-item {
  padding: 16px;
  border-bottom: 1px solid #d2d6de;
}
.campaign-segment-item-head {
  gap: 8px;
  margin-bottom: 8px;
}
.campaign-segment-item.active{
  border-left: 4px solid #f19d14;
}
.campaign-segment-list{
  max-height: 480px;
  overflow-y: scroll;
}
.campaign-segment-tab{
  background: rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  padding: 8px 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 24px;
}
.campaign-segment-tab .nav-item .nav-link{
  color: #333;
  background: #fff;
  padding: 12px 16px;
  font-weight: 500;
  font-size: 16px;
  border: 0;
}
.campaign-segment-tab .nav-item.active .nav-link{
  background: #F99000;
  font-weight: 700;
  color: #fff;
  border: 0;
}

/* tabs */
.msg-report-ttl{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 4px;
}
.msg-report-status{
  background: rgba(16, 140, 127, 0.2);
  display: inline-flex;
  color: #108C7F;
  padding: 4px 12px;
  border-radius: 4px;
  font-weight: 500;
}
.msg-report-details-head{
  gap: 12px;
}
.msg-report-details-ttl{
  font-weight: 600;
  font-size: 14px;
}
.msg-report-details-block{
  padding: 24px;
  border-radius: 12px;
  border: 1px solid #d2d6de;
  background: #fff;
}
.details-list-group{
  display: grid;
  align-items: flex-start;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.details-list-item{
  display: flex;
  align-items: flex-start;
  gap: 12px;
}
.details-list-item-icon{
  min-width: 36px;
  width: 36px;
  height: 36px;
  border-radius: 4px;
  background: rgba(249, 144, 0, 0.2);
  color: #F99000;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.details-list-item-label{
  opacity: 0.7;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 2px!important;
}
.details-list-item-val{
  font-weight: 600;
  font-size: 12px;
}
.msg-report-details-head{
  margin-bottom: 20px;
}
.msg-report-details-icon{
  font-size: 18px;
}
.campaign-segment-right{
  padding: 20px;
  background: #fff;
  border-radius: 24px;
}
.details-card-item{
  padding: 16px 16px;
  border-radius: 8px;
}
.details-card-item.success{
  background: rgba(16, 140, 127, 0.2);
}
.details-card-item.error{
  background: #FEE2E2;
}
.details-card-group{
  display: grid;
  align-items: flex-start;
  gap: 8px;
}
.details-card-item-label{
  font-weight: 600;
}
.details-card-item-val,
.details-list-item-val.lg-value{
  font-size: 20px;
  font-weight: 700;
}
.est-credit-block .msg-report-details-body{
  background: #f6f6f6;
  padding: 16px;
  border-radius: 8px;
}
.msg-report-wrapper{
  display: grid;
  align-items: flex-start;
  gap: 20px;
}